{% extends 'SymforiumCmsPlugin:Backend:index.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

        Mousetrap.bindGlobal('mod+s', function(e) {
            if (e.preventDefault) {
                e.preventDefault();
            } else {
                e.returnValue = false;
            }

            $('button[type=submit]').click();
        });

        $(function () {
            $("textarea[id$=content]")
                .pagedownBootstrap({sanitize: false})
                .tabby();

            $('input[id$=url]').on('keypress', function(e) {
                e.preventDefault();
                $(this).data('user-input', true);

                var value = String.fromCharCode(e.keyCode).toLowerCase().replace(/[\s]+/, '-'),
                    regex = /^[\\a-z0-9-_]+/gi;

                if (this.value.charAt(0) !== '/') {
                    this.value = '/'+this.value;
                }

                if (!regex.test(value)) {
                    return false;
                }

                this.value += value;
            });

            $('input[id$=title]').on('keyup', function() {
                var url       = $('input[id$=url]'),
                    userInput = url.data('user-input');

                if (url.val() === '') {
                    userInput = false;
                    url.data('user-input', userInput);
                }

                if (userInput === undefined || userInput === false) {
                    url.val('/'+getSlug($(this).val()))
                }
            });
        })
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
    </style>
{% endblock %}

{% block cms_content %}
    <div id="cms_add">
        {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'true'} }) }}
            {{ form_errors(form) }}
            <div class="row" id="topRow">
                <div class="col-xs-4">
                    {{ form_widget(form.title) }}
                </div>
                <div class="col-xs-4">
                    {{ form_widget(form.url) }}
                </div>
                <div class="col-xs-1">
                    <div class="row">
                        {{ form_label(form.published) }}
                    </div>
                    <div class="row">
                        <div class="switch switch-square" data-on-label="<i class='fui-check'></i>" data-off-label="<i class='fui-cross'></i>">
                            {{ form_widget(form.published) }}
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    {{ form_widget(form.submit) }}
                </div>
            </div>
            <div class="row" id="bottomRow">
                {{ form_widget(form.content) }}
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}